.DefaultPizza {
	.content {
		.all_button {
			margin-bottom: 80px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.pizza_button {
				border-radius: 100px;
				width: 229.93px;
				height: 62px;
				color: rgba(255, 255, 255, 1);
				&:hover {
					background: linear-gradient(
						215.37deg,
						rgba(255, 100.17498016357422, 50.40979766845703, 1),
						rgba(255, 161.99241638183594, 39.78480911254883, 1) 100%
					);
				}
			}
		}
		.pizza_list {
			display: flex;
			justify-content: space-between;
			.types_of_pizza {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 20px;
				justify-content: center;
				width: 297px;
				height: 459px;
				border-radius: 29.53px;
				background: rgba(33, 10, 1, 1);
				.img_pizza {
					display: flex;
					align-items: center;
				}
				.title {
					color: rgba(255, 255, 255, 1);
					font-size: 25.1px;
					font-weight: 500;
					line-height: 30px;
				}
				.description {
					width: 229px;
					color: rgba(163, 163, 163, 1);
					font-size: 14.32px;
					font-weight: 400;
					line-height: 17px;
				}
				.ingridients {
					display: flex;
					align-items: center;
					button {
						width: 194px;
						height: 39px;
						border-radius: 84.37px;
						border: 4px solid;
						border-image: linear-gradient(
								215.37deg,
								rgba(255, 88, 35, 1),
								rgba(255, 162, 40, 1) 100%
							)
							1;
					}
				}
				.pizza_selection {
					display: flex;
					gap: 30px;
				}
				.order_now {
					button {
						width: 194px;
						height: 45px;
						border-radius: 84.37px;
						background: linear-gradient(
							215.37deg,
							rgba(255, 100.17498016357422, 50.40979766845703, 1),
							rgba(255, 161.99241638183594, 39.78480911254883, 1) 100%
						);
					}
				}
			}
		}
	}
}
