.DefaultPizza .content {
	margin-block: 100px;
	.pizza_list {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		@media (max-width: 1280px) {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			// gap: 20px;
		}
		@media (max-width: 625px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.types_of_pizza {
			@media (max-width: 1213px) {
				width: 100%;
				max-width: 400px;
			}
			@media (max-width: 865px) {
				width: 40%;
				max-width: 400px;
			}
			@media (max-width: 625px) {
				width: 100%;
				max-width: 400px;
			}

			padding: clamp(10px, 2vw, 25px);
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			gap: 10px;
			border-radius: 29.53px;
			background: rgba(33, 10, 1, 1);
			.img_pizza {
				width: 100%;
				max-width: 150px;
			}
			.title {
				color: rgba(255, 255, 255, 1);
				font-size: 25.1px;
				font-weight: 500;
				line-height: 30px;
			}
			.description {
				width: 229px;
				color: rgba(163, 163, 163, 1);
				font-size: 14.32px;
				font-weight: 400;
				line-height: 17px;
			}
			.pizza_box {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 20px;
				width: 100%;
				max-width: 194px;
				.size_pizza {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					.size_button {
						width: 40px;
						height: 40px;
						border-radius: 84.37px;
						background: transparent;
						border: 1.5px solid rgba(163, 163, 163, 1);
						color: rgba(163, 163, 163, 1);
						&:hover {
							background: linear-gradient(
								215.37deg,
								rgba(255, 100.17498016357422, 50.40979766845703, 1),
								rgba(255, 161.99241638183594, 39.78480911254883, 1) 100%
							);
							color: rgba(255, 255, 255, 1);
							border: none;
						}
					}
				}

				.ingridients {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 39px;
					border-radius: 84.37px;
					background: transparent;
					border: 1.5px solid #ff6d25;
					background: linear-gradient(
						215.37deg,
						rgba(255, 100, 50, 1),
						rgba(255, 162, 40, 1) 100%
					);
					-webkit-background-clip: text;
					color: transparent;
				}
				.pizza_selection {
					display: flex;
					width: 100%;
					justify-content: space-between;
					.price {
						color: rgba(255, 255, 255, 1);
						font-size: 22.61px;
						font-weight: 500;
						line-height: 27px;
					}
					.quantity {
						display: flex;
						align-items: center;
						gap: 10px;
						.quantity_button {
							width: 32px;
							height: 32px;
							border-radius: 84.37px;
							background: transparent;
							border: 1.5px solid rgba(163, 163, 163, 1);
							color: rgba(163, 163, 163, 1);
							&:hover {
								background: linear-gradient(
									215.37deg,
									rgba(255, 100.17498016357422, 50.40979766845703, 1),
									rgba(255, 161.99241638183594, 39.78480911254883, 1) 100%
								);
								color: rgba(255, 255, 255, 1);
								border: none;
							}
						}
						.quantity_number {
							color: rgba(255, 255, 255, 1);
							font-size: 16px;
							font-weight: 500;
							line-height: 19px;
						}
					}
				}
				.order_now {
					width: 100%;
					height: 39px;
					border-radius: 84.37px;
					background: linear-gradient(
						215.37deg,
						rgba(255, 100, 50, 1),
						rgba(255, 162, 40, 1) 100%
					);
					color: rgba(255, 255, 255, 1);
					font-size: 16px;
					font-weight: 500;
					line-height: 19px;
					&:hover {
						box-shadow: 0px 4px 15px rgba(255, 105, 37, 0.75);
					}
				}
			}
		}
	}
}
