.PizzaButton {
	margin-bottom: 80px;

	.content {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.pizza_button {
			width: 229.93px;
			height: 62px;
			border-radius: 100px;
			box-shadow: 0px 4px 15px #240d00;
			background: rgba(33, 10, 1, 1);
			font-size: 16px;
			color: #a3a3a3;
			transition: 0.2s ease;

			&:hover {
				color: white;
			}

			&.active {
				background: linear-gradient(
					215.37deg,
					rgba(255, 100, 50, 1),
					rgba(255, 162, 40, 1) 100%
				);
				box-shadow: none;
				color: white;
			}
		}
	}
}
