.Blog {
	.content {
		display: flex;
		gap: 40px;
		.block {
			position: relative; // Делаем этот блок главным ориентиром для координат
			width: fit-content; // Чтобы блок был по размеру картинки
			.Image {
				display: flex;
				align-items: center;
				justify-content: center;
				max-width: 350px;
				height: clamp(200px, 30vw, 250px);
				width: 100%;
				border-radius: 20px; // Если нужны скругления
			}
			.description {
				position: absolute; // Абсолютное позиционирование относительно родителя
				font-size: 24px;
				color: #5f5c5c;
				z-index: 2;
				top: 70px;
				left: 30px;
				color: white;
				font-weight: 500;
				font-size: 25.09px;
			}
		}
	}
}
