.Basket {
	.content {
		.pizza_list {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 30px;
			.selected_pizza {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: clamp(15px, 2vw, 25px);
				background: rgb(33, 10, 1);
				max-width: 600px;
				width: 100%;
				.left {
					.img_pizza {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}
				.right {
					.title {
						color: pink;
						font-size: clamp(20px, 3vw, 30px);
						line-height: 30px;
					}
					.size_pizza {
						color: pink;
						font-size: clamp(15px, 3vw, 25px);
						font-weight: 1000;
					}
					.quantity_pizza {
						color: pink;
						font-size: clamp(15px, 3vw, 25px);
					}
					.price_pizza {
						color: pink;
						font-size: clamp(15px, 3vw, 25px);
						font-weight: 700;
					}
				}
			}
		}
	}
}
