* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	button {
		border: none;
	}
}
html {
	color-scheme: dark;
}
body {
	background: #1d0b01;
	font-family: Arial, Helvetica, sans-serif;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 20px;
}
button {
	cursor: pointer;
}
