.Pizza {
	.content {
		display: flex;
		justify-content: space-between;
		@media (max-width: 1120px) {
			flex-direction: column;
			align-items: center;
		}
		.left {
			width: 100%;
			max-width: 570px;
			display: flex;
			flex-direction: column;
			.title {
				display: flex;
				flex-direction: column;
				justify-content: center;
				color: rgba(255, 255, 255, 1);
				font-size: clamp(10px, 5vw, 67px);
				font-weight: 800;
				line-height: 83px;
				.up {
					display: flex;
					align-items: center;
					.icon {
						margin-left: 20px;
					}
				}
				.down {
					display: flex;
					align-items: center;
					.icon {
						width: 100%;
						max-width: 90px;
					}
				}
			}
			.description {
				color: rgba(163, 163, 163, 1);
				font-family: Muller;
				font-size: 19.56px;
				font-weight: 400;
				line-height: 23px;
				letter-spacing: 0%;
				text-align: left;
			}
		}
		.right {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			.image {
				width: 100%;
				max-width: 450px;
				height: 100%;
			}
		}
	}
}
