.Log_in {
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.status {
			display: flex;
			flex-direction: column;
			gap: 30px;
			width: 100%;
			max-width: 300px;
			.checkbox {
				padding: 10px;
				background: transparent;
				border: none;
				border: 1px solid rgba(200, 200, 200, 0.5);
				border-radius: 10px;
			}
			.sign_up {
				padding: 10px;
				background: transparent;
				border: none;
				background: linear-gradient(
					215.37deg,
					rgba(255, 100, 50, 1),
					rgba(255, 162, 40, 1) 100%
				);
				border-radius: 10px;
				&:hover {
					box-shadow: 0px 4px 15px rgba(255, 105, 37, 0.75);
				}
			}
		}
	}
}
